<div class="page">

  <div class="header">
    <h1>&nbsp; Ashley Paul</h1>
    <div class="subtitle">
      Candidate for a Bachelor of Science in Computer Information Systems
    </div>
  </div>

  <mat-tab-group class="tabs-theme">
    <mat-tab label="WELCOME">
      <div class="row">
        <div class="column left">
          <h2>ABOUT</h2>
          <p>
            intro will be here :)
          </p>
          <h2>CONTACT ME</h2>
          <img>
          <p>
            (207) 337 - 2915
          </p>
          <img>
          <p>
            paul_ashl@bentley.edu
          </p>
          <img>
          <p>
            175 Forest Street, Mailbox #2155 <br>
            Waltham, MA 02452
          </p>
          <ul>
            <li>
              <h2><a target="_blank" href="https://www.linkedin.com/in/its-ashley-paul">LinkedIn</a></h2>
            </li>
          </ul>
        </div>

        <div class="column right">
          <h2>SKILLS</h2>
          <div class="skills">
            <p>
              <strong>
                Angular<br>
                CSS/SCSS<br>
                Dart<br>
                GitHub<br>
                HTML<br>
                Java<br>
                Javascript / Typescript<br>
                Jira<br>
                Json<br>
                mySQL<br>
                Oracle<br>
                Python<br>
                SQL<br>
                Visual Studio Code<br>
              </strong>
            </p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="EDUCATION">
      Content 2
    </mat-tab>
    <mat-tab label="PROFESSIONAL EXPERIENCE">
      Content 3
    </mat-tab>
  </mat-tab-group>
</div>