<div class="page">
  <div class="header">
    <h1>&nbsp; Ashley Paul</h1>
    <div class="subtitle">
      Candidate for B.S. in Computer Information System ~ Aspiring Front-end Developer
    </div>
  </div>
  <hr class="line">
  <mat-tab-group class="tabs-theme">
    <mat-tab label="WELCOME">
      <div class="table page">
        <div class="row">
          <div class="column left">
            <i class="material-icons md-36 orange">looks</i><br>
            <img src="assets/images/profile.png" class="responsive">
            <h2>CONTACT ME</h2>
            <i class="material-icons md-36">phone_iphone</i>
            <p>
              (207) 337 - 2915
            </p>
            <i class="material-icons md-36">email</i>
            <p>
              paul_ashl@bentley.edu
            </p>
            <i class="material-icons md-36">location_on</i>
            <p>
              175 Forest Street, Mailbox #2155 <br>
              Waltham, MA 02452
            </p>
            <a target="_blank" href="https://www.linkedin.com/in/its-ashley-paul">
              <img src="assets/images/linkedin.png">
            </a>
            <p>
              LinkedIn
            </p>
            <img src="assets/images/yay.gif" class="responsive">
            <p>Thanks for visiting!</p>
          </div>

          <div class="column right">
            <h2>OH, HEY THERE!</h2>
            <p>
              My name is Ashley Paul and I am an aspiring front-end developer and a candidate for a B.S. in Computer
              Information Systems. I will be graduating from Bentley University in the Spring of 2020. I have had three
              amazing internships for two incredible companies working towards one goal, preparing for my future. I've
              learned programming languages, team work, agile methodologies, and much of what goes into successful
              software development. I love what I have been introduced to, and am excited to see where it takes me!<br>
              <br>
              <i class="material-icons md-36">offline_bolt</i>
            </p>
            <h2>SKILLS</h2>
            <div class="skills">
              <p>
                <strong>
                  Angular<mat-progress-bar class="rainbow" mode="determinate" value="60"></mat-progress-bar>
                  CSS/SCSS<mat-progress-bar class="rainbow" mode="determinate" value="60"></mat-progress-bar>
                  Dart<mat-progress-bar class="rainbow" mode="determinate" value="50"></mat-progress-bar>
                  GitHub<mat-progress-bar class="rainbow" mode="determinate" value="90"></mat-progress-bar>
                  HTML<mat-progress-bar class="rainbow" mode="determinate" value="80"></mat-progress-bar>
                  Java<mat-progress-bar class="rainbow" mode="determinate" value="80"></mat-progress-bar>
                  Javascript / Typescript<mat-progress-bar class="rainbow" mode="determinate" value="65">
                  </mat-progress-bar>
                  Jira<mat-progress-bar class="rainbow" mode="determinate" value="95"></mat-progress-bar>
                  Json<mat-progress-bar class="rainbow" mode="determinate" value="40"></mat-progress-bar>
                  mySQL<mat-progress-bar class="rainbow" mode="determinate" value="60"></mat-progress-bar>
                  Oracle<mat-progress-bar class="rainbow" mode="determinate" value="40"></mat-progress-bar>
                  Python<mat-progress-bar class="rainbow" mode="determinate" value="50"></mat-progress-bar>
                  SQL<mat-progress-bar class="rainbow" mode="determinate" value="90"></mat-progress-bar>
                  Visual Studio Code<mat-progress-bar class="rainbow" mode="determinate" value="95"></mat-progress-bar>
                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="EDUCATION">
      <div class="experience">
        <div id="company" class="company">Bentley University</div>
        <div id="location" class="location">Waltham, MA</div><br><br>
        <strong class="position">Computer Information Systems</strong><br>
        <p>
          Graduation Date: May 16th, 2020<br>
          GPA: 3.69<br>
          Major GPA: 3.94/4.0
        </p>

        <hr>
        <div id="company" class="company">IES Abroad Milan</div>
        <div id="location" class="location">Milano, Italy</div><br><br>
        <strong class="position">Business Studies Program</strong><br>
        <p>
          Fall Semester 2018
        </p>

      </div>
    </mat-tab>
    <mat-tab label="PROFESSIONAL EXPERIENCE">
      <div class="experience">
        <div id="company" class="company">CIS Sandbox - Bentley University</div>
        <div id="location" class="location">Waltham, MA</div><br><br>
        <div><strong id="position" class="position">Computer Information Systems Department Tutor</strong></div>
        <div id="time" class="time">Spring 2019 - Current</div><br>
        <p>
          o Prepare peers to succeed in CIS and IT courses I have previously taken by clarifying questions on projects
          and homework<br>
          o Promote the cutting-edge technology presentations and educational events to students and campus partners<br>
          o Grow the social media presence of the CIS Sandbox to pique interest in the social learning space
        </p>

        <hr>
        <div id="company" class="company">McGraw-Hill Education</div>
        <div id="location" class="location">Boston, MA</div><br><br>
        <div><strong id="position" class="position">Software Engineer Intern</strong></div>
        <div id="time" class="time">Summer 2019</div><br>
        <p>
          o Maintained a shared component library used by 70+ UI developers to increase the velocity of scrum teams<br>
          o Learned the framework Angular to correct bugs, provide detailed documentation, and write effective tests<br>
          o Improved the accessibility, documentation, and internationalization of more than 25 presentational
          components<br>
          o Followed Agile & Scrum methodologies with a UI development team of 5 within the digital platform group at
          MHE
        </p>

        <hr>
        <div id="company" class="company">Partners4Innovation - Digital 360</div>
        <div id="location" class="location">Milan, Italy</div><br><br>
        <div><strong id="position" class="position">Data Analyst Intern</strong></div>
        <div id="time" class="time">Fall 2018</div><br>
        <p>
          o Researched recommendation engines for effective and efficient implementation methods<br>
          o Constructed a Collaborative Filtering Recommender System in Python using Jupyter Notebook<br>
          o Evaluated recommender systems using precision and recall<br>
          o Learned algorithmic techniques, focusing on matrix factorization for accurate predictions
        </p>

        <hr>
        <div id="company" class="company">McGraw-Hill Education</div>
        <div id="location" class="location">Boston, MA</div><br><br>
        <div><strong id="position" class="position">Software Engineer Intern</strong></div>
        <div id="time" class="time">Summer 2019</div><br>
        <p>
          o Created an interactive dashboard with Superset to analyze performance metrics from three teams in our
          Digital Platform Groupo Created an interactive dashboard with Superset to analyze performance metrics from
          three teams in our Digital Platform Group<br>
          o Designed, implemented, and tested a Flutter mobile app using the programming language Dart in Visual Studio
          Code<br>
          o Attended daily meetings to plan, organize, and set goals for both group and individual tasks following Agile
          and Scrum methodologies
        </p>

        <hr>
      </div>
    </mat-tab>
  </mat-tab-group>

  <hr class="line"><br>
  <div id="run">
    <i class="material-icons md-36 light">star</i>&nbsp;&nbsp;&nbsp;
    <i class="material-icons md-36 light">star</i>&nbsp;&nbsp;&nbsp;
    <i class="material-icons md-36 light">star</i>
  </div>
</div>